<h1>Welcome to FlightBooker!</h1>

<h2>You are now registered to fly, <%= @user.name %></h2>

<p>
  To book another flight, head over to <%= link_to 'book a flight', @url %>
</p>

<p>Thanks for joining!</p>